{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
<!-- Swiper -->
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="{% static 'images/karusel.png' %}" alt="">
      </div>
      <div class="swiper-slide">
        <img src="{% static 'images/karusel1.png' %}" alt="">
      </div>
      <div class="swiper-slide">
        <img src="{% static 'images/karusel2.png' %}" alt="">
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      spaceBetween: 30,
      centeredSlides: true,
      autoplay: {
        delay: 5000,
        disableOnInteraction: false,
      },
    });
  </script>
{% endblock %}