@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: Unbounded;
color: #03030A;
}

.container {
max-width: 1680px;
padding: 0 20px;
margin: 0 auto;
}

.wrapper {
display: flex;
justify-content: space-between;
align-items: center;
}

a {
text-decoration: none;
}

.header {
background-color: #03030A;
}

.logo {
padding-top: 30px;
padding-bottom: 30px;
}

.nav {
display: flex;
flex-direction: column;
gap: 50px;
}

.nav ul {
display: flex;
align-content: center;
gap: 25px;
}

.nav ul li {
list-style: none;
}

.nav ul li select {
display: none;
}

.odd {
cursor: pointer;
transition: .3s;
color: #F3F3F3;
}

.odd:hover {
color: #C7B475;
}

.search-bar input{
width: 450px;
border: #C7B475 3px solid;
border-radius: 5px;
background: #F3F3F3;
font-size: 16px;

outline: none;
padding:  5px 10px;
}

.search-bar input::placeholder {
color: #A4A4A4;
font-size: 16px;
}

.reg-group {
display: flex;
gap: 20px;
padding-bottom: 25px;
}

.reg-group a{
background: #255727;
padding: 5px 15px;
border-radius: 10px;
display: block;
color: #F3F3F3;
}

.reg-group .chit {
width: 137px;
text-align: center;
color: #F3F3F3;
}

.reg-group .user {
width: 70px;
}

.contacts {
display: flex;
flex-direction: column;
gap: 10px;
}

.contacts a {
color: #F3F3F3;
display: flex;
gap: 5px;
align-items: center;
}

.page_title {
text-align: center;
font-size: 24px;
padding: 50px 0;
}

form {
display: flex;
flex-direction: column;
margin: 0 auto;
max-width: 455px;
gap: 10px;
}

form label {
display: none;
}

form input {
border: 3px solid #C7B475;
background: #f3f3f3;
outline: none;
border-radius: 5px;
padding: 5px 10px;
width: 450px;
}

form input::placeholder {
color: #A4A4A4;
}

.reg_btn {
align-self: center;
padding: 15px 5px;
max-width: 220px;
border: none;
border-radius: 5px;
background: #255727;
color: #F3F3F3;
font-size: 16px;
}

.checkbox {
display: flex;
gap: 10px;
width: inherit;
}

.checkbox input {
width: 15px;
}

.terms {
display: block;
font-size: 12px;
}

.have_acc {
font-size: 12px;
}

.reg_to_auth {
color: #C7B475;
}